// framework version 1.1.0

// media queryのbreakpoint値
$breakpointS: 600px;
$breakpointM: 1025px;
$breakpointL: 1400px;

$bpClass: (
  "sp": "(max-width: #{$breakpointS - 1})",
  "tb": "(min-width: #{$breakpointS}) and (max-width: #{$breakpointM - 1})",
) !default;

// ボックス幅(max-width)
$widthS: 700px;
$widthM: 920px;
$widthL: 1220px;
$widthXL: 1300px;

// ヘッダーの高さ(PC,SP)
$headerHeight: 90px;
$headerHeightSP: 50px;

// セクション間のスペース(PC,SP)
$sectionPadding: 200px;
$sectionPaddingSP: 50px;

// margin,paddingの汎用サイズ
$spacesList: (
  none: 0px,
  xs: 10px,
  s: 20px,
  sm: 30px,
  m: 40px,
  ml: 60px,
  l: 80px,
  xl: 100px,
  xl2: 150px,
);

// フォントサイズ
$fontSizeList: (
  xs: 1,
  s: 1.2,
  sm: 1.4,
  m: 1.6,
  ml: 1.8,
  l: 2,
  xl: 2.4,
  xl2: 2.8,
  xl3: 3.6,
  xl4: 4,
  xl5: 5,
  xl6: 6,
  xl7: 7,
  xl8: 8,
  xl9: 9,
  xl10: 10,
);

// letteer spacing
$letterSpacingList: (
  none: 0em,
  s: 0.1em,
  m: 0.2em,
  l: 0.35em,
);

// line-height
$lineHeightList: (
  s: 1,
  sm: 1.2,
  m: 1.5,
  ml: 1.8,
  l: 2,
  xl: 2.4,
);

// border-radius
$borderRadiusList: (
  s: 3px,
  m: 6px,
  l: 10px,
  xl: 1000px,
);

// bodyにかかる基本色
$baseColor: #222;
$baseBg: #ffffff;

// 色
$colorList: (
  "primary": #c0b59f,
  "secondary": #dad2bf,
  "accent": #69b9bb,
  "caution": #4fb430,
  "white": #fff,
  "black": $baseColor,
  "grey": #e5e5e5,
  "add1": #faf8f3,
  "add2": #c0b59f,
  "add3": #fffbf4,
  "add4": #fff9ee,
  "add5": #b3a68c,
  "add6": #f5f1e9,
  "transparent": transparent,
);

// ::selectionカラー（テキスト選択時の色）
$selectionBg: #{rgba(105, 185, 187, 0.7)};
$selectionColor: #fff;

// 基本フォント
$primaryFont: "Noto Sans JP", YuGothic, "Yu Gothic Medium", "Yu Gothic",
  "游ゴシック体", "游ゴシック", -apple-system, BlinkMacSystemFont, Roboto,
  "Segoe UI", "Helvetica Neue", HelveticaNeue, Verdana, Meiryo, sans-serif;
$secondaryFont: "Lato", sans-serif;
$accentFont: "Noto Serif JP", serif;
$cautionFont: Varela, sans-serif;

// font-family
$fontFamilyList: (
  primary: $primaryFont,
  secondary: $secondaryFont,
  accent: $accentFont,
  caution: $cautionFont,
);
// font-family初期値のfont-weigth
$fontWeightList: (
  primary: 400,
  secondary: 300,
  accent: 400,
  caution: 400,
);

// ヘッダー固定(position:fixedさせるかどうか)
$fixedHeader: true;
// ヘッダー固定時にmainにpadding-topを入れるかどうか
$headerOverWrap: true;

// margin,paddingの細かい汎用classを生成するかどうかの設定（別途xs〜xlまでのclassはあるので基本的に不要かも）
// endValueは5の倍数でいくつ出すか（例：20なら.mb100まで作られる）
// 不要なら$spaceClassをfalseに、paddingだけ不要なら$spacePaddingをfalseに指定
$spaceClass: false !default;
$spacePadding: false !default;
$endValue: 20 !default;
// 上下左右padding用
$paddingClass: true !default;

// widthの汎用classを生成するかどうかの設定（.w1〜.w100まで）
$widthClass: true !default;
