/* -----------------------------------
uf scss framework version 3.0.0
----------------------------------- */

// デザインカンプのキャンバスサイズ
// px値を入れておけばvwに変換される
$canvasSize: (
  pc: 1400px,
  sp: calc(750px / 2),
);

// メディアクエリのbreakpoint値(キーがmqミックスインの引数になる)
$breakpoints: (
  s: 600px,
  m: 1025px,
  l: 1441px,
);

// utility出力で利用するbreakpointクラス用
// キーがメディアクエリ用クラスのプレフィクスになる
// 値は上記$breakpointsで設定したものを利用する
// 値を1文字のstringにすればmax-width、配列形式で2要素を入れるとmin-width,max-widthに変換される
$breakpointsClass: (
  sp: s,
  tb: (
    s,
    m,
  ),
);

// ヘッダーの高さ(PC,SP)
$headerHeight: (
  pc: 130px,
  sp: 100px,
);

// ヘッダー固定(position:fixedさせるかどうか)
$fixedHeader: false;
// ヘッダー固定時にmainにpadding-topを入れるかどうか
$headerOverWrap: true;

// margin,paddingの汎用サイズ
$spacesList: (
  none: 0rem,
  xs: 0.5rem,
  s: 1rem,
  sm: 2.5rem,
  m: 4rem,
  ml: 6rem,
  l: 8rem,
  xl: 10rem,
  xl2: 15rem,
);

// フォントサイズ
$fontSizeList: (
  xs: 1rem,
  s: 1.2rem,
  sm: 1.4rem,
  m: 1.6rem,
  ml: 1.8rem,
  l: 2rem,
  xl: 2.2rem,
  xl2: 2.6rem,
  xl3: 3rem,
  xl4: 4rem,
  xl5: 5rem,
  xl6: 6rem,
  xl7: 7rem,
  xl8: 8rem,
  xl9: 9rem,
  xl10: 10rem,
);

// letteer spacing
$letterSpacingList: (
  none: 0em,
  s: 0.1em,
  m: 0.2em,
  l: 0.35em,
);

// line-height
$lineHeightList: (
  s: 1,
  sm: 1.2,
  m: 1.5,
  ml: 1.8,
  l: 2,
  xl: 2.4,
);

// border-radius
$borderRadiusList: (
  s: 0.3rem,
  m: 0.6rem,
  ml: 2rem,
  l: 3rem,
  xl: 5rem,
  xl2: 100rem,
);

// bodyにかかる基本色
$baseColor: #222222;
$baseBg: #ffffff;

// 色
$colorList: (
  "primary": #153940,
  "secondary": #f5f4f3,
  "accent": #ffeb00,
  "caution": #8f8f8f,
  "white": #fff,
  "black": $baseColor,
  "grey": #e5e5e5,
  "add1": #f7f5f3,
  "transparent": transparent,
);

// ::selectionカラー（テキスト選択時の色）
$selectionBg: #{rgba(#153940, 0.7)};
$selectionColor: #fff;

// font-family
$fontList: (
  primary: (
    ("Noto Sans JP", sans-serif),
    600,
  ),
  secondary: (
    ("Lato", sans-serif),
    600,
  ),
  accent: (
    ("Noto Serif JP", serif),
    400,
  ),
  caution: (
    serif,
    400,
  ),
);

$blockStyling: (
  spaceAmount: (
    default: map-get($spacesList, xl),
    sm: map-get($spacesList, l),
    s: map-get($spacesList, m),
  ),
  blockClasses: (
    common: (
      margin-top,
      margin-bottom,
    ),
    top: (
      margin-bottom,
    ),
    bottom: (
      margin-top,
    ),
  ),
  blockSizes: (
    large: 2,
    small: 0.5,
  ),
);

// PC,SPの順番で幅を指定
$boxStyling: (
  common: (
    1000px,
    calc(700px / 2),
  ),
  wide: (
    1200px,
    calc(740px / 2),
  ),
  medium: (
    800px,
    calc(680px / 2),
  ),
  narrow: (
    600px,
    calc(500px / 2),
  ),
);
