@use "../global" as *;

/* utilities: borders */

$utilities: (
  borders: (
    bd: (
      property: (
        border-width,
        border-style,
        border-color,
      ),
      increment: $borderIncrements,
    ),
    bd-t: (
      property: (
        border-top-width,
        border-style,
        border-color,
      ),
      increment: $borderIncrements,
    ),
    bd-r: (
      property: (
        border-right-width,
        border-style,
        border-color,
      ),
      increment: $borderIncrements,
    ),
    bd-b: (
      property: (
        border-bottom-width,
        border-style,
        border-color,
      ),
      increment: $borderIncrements,
    ),
    bd-l: (
      property: (
        border-left-width,
        border-style,
        border-color,
      ),
      increment: $borderIncrements,
    ),
    bd-w: (
      property: border-width,
      increment: map-remove($borderIncrements, properties),
    ),
    bd-t-w: (
      property: border-top-width,
      increment: map-remove($borderIncrements, properties),
    ),
    bd-r-w: (
      property: border-right-width,
      increment: map-remove($borderIncrements, properties),
    ),
    bd-b-w: (
      property: border-bottom-width,
      increment: map-remove($borderIncrements, properties),
    ),
    bd-l-w: (
      property: border-left-width,
      increment: map-remove($borderIncrements, properties),
    ),
    bd-c: (
      property: border-color,
      values: $colorList,
    ),
    bd-s: (
      property: border-style,
      values: (
        solid: solid,
        dashed: dashed,
        dotted: dotted,
        double: double,
        groove: groove,
        ridge: ridge,
        none: none,
      ),
    ),
    bd-rd: (
      property: border-radius,
      values: $borderRadiusList,
    ),
    bd-tl-rd: (
      property: border-top-left-radius,
      values: $borderRadiusList,
    ),
    bd-tr-rd: (
      property: border-top-right-radius,
      values: $borderRadiusList,
    ),
    bd-br-rd: (
      property: border-bottom-right-radius,
      values: $borderRadiusList,
    ),
    bd-bl-rd: (
      property: border-bottom-left-radius,
      values: $borderRadiusList,
    ),
  ),
);

@include utilityGenerator($utilities, "borders");
