@use "../global" as *;

/* utilities: flexbox */

$utilities: (
  flexbox: (
    flex: (
      property: display,
      values: flex,
    ),
    fw: (
      property: flex-wrap,
      values: (
        w: wrap,
        nw: nowrap,
        wr: wrap-reverse,
      ),
    ),
    fd: (
      property: flex-direction,
      values: (
        r: row,
        rr: row-reverse,
        cr: column-reverse,
        c: column,
      ),
    ),
    jc: (
      property: justify-content,
      values: (
        c: center,
        sb: space-between,
        sa: space-around,
        fe: flex-end,
        fs: flex-start,
      ),
    ),
    ai: (
      property: align-items,
      values: (
        c: center,
        fe: flex-end,
        fs: flex-start,
      ),
    ),
    as: (
      property: align-self,
      values: (
        fs: flex-start,
        c: center,
        fe: flex-end,
        st: stretch,
      ),
    ),
    fs: (
      property: flex-shrink,
      values: (
        1: 1,
        0: 0,
      ),
    ),
    fg: (
      property: flex-grow,
      values: (
        1: 1,
        0: 0,
      ),
    ),
    fb: (
      property: flex-basis,
      values: (
        a: auto,
        0: 0,
      ),
    ),
    gap: (
      property: gap,
      increment: (
        min: 0,
        max: 20,
        step: 1,
        unit: "%",
      ),
    ),
  ),
);

//@include utilityMap($utilities, "flexbox");
@include utilityGenerator($utilities, "flexbox");
