@use "../global" as *;

/* utilities: layout */

$positionIncrements1: (
  min: 0,
  max: 100,
  step: 1,
  unit: "%",
);
$positionIncrements2: (
  min: -100,
  max: -1,
  step: 1,
  unit: "%",
);

$utilities: (
  layout: (
    d: (
      property: display,
      values: (
        b: block,
        ib: inline-block,
        if: inline-flex,
        i: inline,
        f: flex,
        n: none,
      ),
    ),
    bdb: (
      property: box-decoration-break,
      values: (
        s: slice,
        c: clone,
      ),
    ),
    f: (
      property: float,
      values: (
        l: left,
        r: right,
        n: none,
      ),
    ),
    clear: (
      property: clear,
      values: both,
    ),
    of: (
      property: overflow,
      values: (
        a: auto,
        s: scroll,
        h: hidden,
      ),
    ),
    of-x: (
      property: overflow-x,
      values: (
        a: auto,
        s: scroll,
        h: hidden,
      ),
    ),
    of-y: (
      property: overflow-y,
      values: (
        a: auto,
        s: scroll,
        h: hidden,
      ),
    ),
    osb: (
      property: overscroll-behavior,
      values: (
        a: auto,
        c: contain,
        n: none,
      ),
    ),
    osb-x: (
      property: overscroll-behavior-x,
      values: (
        a: auto,
        c: contain,
        n: none,
      ),
    ),
    osb-y: (
      property: overscroll-behavior-y,
      values: (
        a: auto,
        c: contain,
        n: none,
      ),
    ),
    pos: (
      property: position,
      values: (
        s: static,
        f: fixed,
        a: absolute,
        r: relative,
        sticky: sticky,
      ),
    ),
    pos-t: (
      property: top,
      increment: $positionIncrements1,
    ),
    pos-t-m: (
      property: top,
      increment: $positionIncrements2,
    ),
    pos-r: (
      property: right,
      increment: $positionIncrements1,
    ),
    pos-r-m: (
      property: right,
      increment: $positionIncrements2,
    ),
    pos-b: (
      property: bottom,
      increment: $positionIncrements1,
    ),
    pos-b-m: (
      property: bottom,
      increment: $positionIncrements2,
    ),
    pos-l: (
      property: left,
      increment: $positionIncrements1,
    ),
    pos-l-m: (
      property: left,
      increment: $positionIncrements2,
    ),
    pos-x: (
      property: (
        left,
        right,
        margin,
      ),
      values: (
        a: (
          0,
          0,
          auto,
        ),
      ),
    ),
    pos-y: (
      property: (
        top,
        bottom,
        margin,
      ),
      values: (
        a: (
          0,
          0,
          auto,
        ),
      ),
    ),
    pos-xy: (
      property: (
        top,
        right,
        bottom,
        left,
        margin,
      ),
      values: (
        a: (
          0,
          0,
          0,
          0,
          auto,
        ),
      ),
    ),
    zi: (
      property: z-index,
      increment: (
        (
          min: 0,
          max: 5,
          step: 1,
        ),
        (
          min: 9995,
          max: 10005,
          step: 1,
        ),
      ),
      values: (
        m1: -1,
      ),
    ),
    ofi: (
      property: (
        object-fit,
        object-position,
      ),
      values: (
        cover: (
          cover,
          center,
        ),
        contain: (
          contain,
          center,
        ),
        none: (
          none,
          center,
        ),
      ),
    ),
    ofi-p: (
      property: object-position,
      values: (
        tl: (
          top left,
        ),
        tr: (
          top right,
        ),
        br: (
          bottom right,
        ),
        bl: (
          bottom left,
        ),
        tc: (
          top center,
        ),
        bc: (
          bottom center,
        ),
        c: center,
      ),
    ),
  ),
);

@include utilityMap($utilities, "layout");
