@use "../global" as *;

/* utilities: sizing */

$sizingValues: (
  maxc: max-content,
  minc: min-content,
  fc: fit-content,
);

$utilities: (
  sizing: (
    w: (
      property: width,
      increment: $sizingIncrements,
      values: $sizingValues,
    ),
    h: (
      property: height,
      increment: $sizingIncrements,
      values: $sizingValues,
    ),
    max-w: (
      property: max-width,
      increment: $sizingIncrements,
    ),
    max-h: (
      property: max-height,
      increment: $sizingIncrements,
    ),
    min-w: (
      property: min-width,
      increment: $sizingIncrements,
    ),
    min-h: (
      property: min-height,
      increment: $sizingIncrements,
    ),
  ),
);
@include utilityGenerator($utilities, "sizing");
