@use "../global" as *;

/* utilities: spacing */

$spacingIncrements: (
  (
    min: 0,
    max: 100,
    step: 1,
    unit: "%",
    suffix: p,
  ),
  (
    min: 0,
    max: 100,
    step: 1,
    unit: vw,
    suffix: vw,
  )
);
$spacingValuesAdditional: (
  a: auto,
);

$utilities: (
  spacing: (
    m: (
      property: margin,
      increment: $spacingIncrements,
      values: (
        $spacesList,
        $spacingValuesAdditional,
      ),
    ),
    mx: (
      property: (
        margin-left,
        margin-right,
      ),
      increment: $spacingIncrements,
      values: (
        $spacesList,
        $spacingValuesAdditional,
      ),
    ),
    my: (
      property: (
        margin-top,
        margin-bottom,
      ),
      increment: $spacingIncrements,
      values: (
        $spacesList,
        $spacingValuesAdditional,
      ),
    ),
    mt: (
      property: margin-top,
      increment: $spacingIncrements,
      values: (
        $spacesList,
        $spacingValuesAdditional,
      ),
    ),
    mr: (
      property: margin-right,
      increment: $spacingIncrements,
      values: (
        $spacesList,
        $spacingValuesAdditional,
      ),
    ),
    mb: (
      property: margin-bottom,
      increment: $spacingIncrements,
      values: (
        $spacesList,
        $spacingValuesAdditional,
      ),
    ),
    ml: (
      property: margin-left,
      increment: $spacingIncrements,
      values: (
        $spacesList,
        $spacingValuesAdditional,
      ),
    ),
    p: (
      property: padding,
      increment: $spacingIncrements,
      values: $spacesList,
    ),
    px: (
      property: (
        padding-left,
        padding-right,
      ),
      increment: $spacingIncrements,
      values: $spacesList,
    ),
    py: (
      property: (
        padding-top,
        padding-bottom,
      ),
      increment: $spacingIncrements,
      values: $spacesList,
    ),
    pt: (
      property: padding-top,
      increment: $spacingIncrements,
      values: $spacesList,
    ),
    pr: (
      property: padding-right,
      increment: $spacingIncrements,
      values: $spacesList,
    ),
    pb: (
      property: padding-bottom,
      increment: $spacingIncrements,
      values: $spacesList,
    ),
    pl: (
      property: padding-left,
      increment: $spacingIncrements,
      values: $spacesList,
    ),
  ),
);

//@include utilityMap($utilities, "spacing");
@include utilityGenerator($utilities, "spacing");
