@use "../global" as *;

/* utilities: transform */

$utilities: (
  transform: (
    tf-o: (
      property: transform-origin,
      values: (
        c: center,
        t: top,
        t-r: (
          top right,
        ),
        r: right,
        b-r: (
          bottom right,
        ),
        b: bottom,
        b-l: (
          bottom left,
        ),
        l: left,
        t-l: (
          top left,
        ),
      ),
    ),
    tf-r: (
      property: transform,
      responsive: false,
      increment: $rotateIncrements,
    ),
    tf-s: (
      property: transform,
      increment: $scaleIncrements,
    ),
    tf-ty: (
      property: transform,
      increment: $translateXIncrements,
    ),
    tf-tx: (
      property: transform,
      increment: $translateYIncrements,
    ),
  ),
);

@include utilityGenerator($utilities, "transform");
