@use "../global" as *;

/* utilities: transform */

$utilities: (
  transform: (
    tf-o: (
      property: transform-origin,
      values: (
        c: center,
        t: top,
        t-r: top right,
        r: right,
        b-r: bottom right,
        b: bottom,
        b-l: bottom left,
        l: left,
        t-l: top left,
      ),
    ),
    tf-r: (
      property: transform,
      responsive: false,
      increment: (
        min: 0,
        max: 24,
        step: 15,
        unit: deg,
        wrap: rotate,
      ),
    ),
    tf-s: (
      property: transform,
      increment: (
        min: 0,
        max: 20,
        step: 0.1,
        wrap: scale,
      ),
    ),
    tf-ty: (
      property: transform,
      increment: (
        min: 0,
        max: 20,
        step: 5,
        unit: "%",
        wrap: translateY,
      ),
    ),
    tf-ty-m: (
      property: transform,
      increment: (
        min: -1,
        max: -20,
        step: 5,
        unit: "%",
        wrap: translateY,
      ),
    ),
    tf-tx: (
      property: transform,
      increment: (
        min: 0,
        max: 20,
        step: 5,
        unit: "%",
        wrap: translateX,
      ),
    ),
    tf-tx-m: (
      property: transform,
      increment: (
        min: -1,
        max: -20,
        step: 5,
        unit: "%",
        wrap: translateX,
      ),
    ),
  ),
);

@include utilityMap($utilities, "transform");
