@use "../global" as *;

/* utilities: typography */

$utilities: (
  typography: (
    font: (
      property: (
        font-family,
        font-weight,
      ),
      values: $fontList,
    ),
    fs: (
      property: font-style,
      values: (
        n: normal,
        i: italic,
      ),
    ),
    fw: (
      property: font-weight,
      increment: (
        min: 1,
        max: 9,
        step: 100,
      ),
      values: (
        n: normal,
        b: bold,
      ),
    ),
    ls: (
      property: letter-spacing,
      increment: (
        min: 0,
        max: 10,
        step: 0.1,
        unit: em,
      ),
      values: $letterSpacingList,
    ),
    lh: (
      property: line-height,
      values: $lineHeightList,
    ),
    ta: (
      property: text-align,
      values: (
        l: left,
        c: center,
        r: right,
        j: justify,
      ),
    ),
    td: (
      property: text-decoration,
      values: (
        u: underline,
        lt: line-through,
        n: none,
      ),
    ),
    tuo: (
      property: text-underline-offset,
      increment: (
        min: 0,
        max: 10,
        step: 0.1,
        unit: rem,
      ),
    ),
    va: (
      property: vertical-align,
      values: (
        bl: baseline,
        t: top,
        m: middle,
        b: bottom,
        tt: text-top,
        tb: text-bottom,
      ),
    ),
    ow: (
      property: overflow-wrap,
      values: (
        bw: break-word,
      ),
    ),
    wb: (
      property: word-break,
      values: (
        ba: break-all,
        ka: keep-all,
      ),
    ),
    ws: (
      property: white-space,
      values: (
        n: normal,
        nw: nowrap,
      ),
    ),
    wm: (
      property: writing-mode,
      values: (
        ht: horizontal-tb,
        vrl: vertical-rl,
      ),
    ),
    color: (
      property: color,
      values: $colorList,
    ),
    fz: (
      property: font-size,
      function: font-clamp,
      values: $fontSizeList,
    ),
  ),
);

@include utilityMap($utilities, "typography");
