@use "../global" as *;

/* -----------------------------

base style

----------------------------- */

html {
  font-size: calc(1000vw / 1400);
  @include mq(s) {
    font-size: calc(1000vw / 375);
  }
}

body {
  font-family: nth(map-get($fontList, primary), 1);
  font-weight: nth(map-get($fontList, primary), 2);
  font-size: font-clamp(map-get($fontSizeList, "sm"));
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 1.7;
  font-feature-settings: "palt";
  letter-spacing: 0.1em;
  color: $baseColor;
  background: $baseBg;
}

strong {
  font-weight: bold;
}
sup {
  font-size: small;
  vertical-align: text-top;
}

::selection {
  background: $selectionBg;
  color: $selectionColor;
}

a {
  text-decoration: none;
  color: inherit;
  &:focus,
  &:hover,
  &:visited {
    text-decoration: inherit;
  }
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

select,
input,
textarea,
button {
  vertical-align: middle;
}

main {
  display: block;
  @if $fixedHeader and $headerOverWrap {
    padding-top: map-get($headerHeight, pc);
    min-height: 100vh;
    @include mq(s) {
      padding-top: map-get($headerHeight, sp);
    }
  } @else if($fixedHeader != true) {
    min-height: calc(100vh - #{map-get($headerHeight, pc)});
    @include mq(s) {
      min-height: calc(100vh - #{map-get($headerHeight, sp)});
    }
  } @else {
    min-height: 100vh;
  }
}
