@use "../global" as *;

/* -----------------------------

component style

----------------------------- */

// レスポンシブ時に表示/非表示を切り替えたい時などに

.is {
  &-sp {
    display: none;
    @include mq(s) {
      display: block;
    }
    &-tb {
      display: none;
      @include mq(m) {
        display: block;
      }
    }
  }
  &-tb {
    display: none;
    @include mq(sm) {
      display: block;
    }
    &-pc {
      display: none;
      @include mq(s, min) {
        display: block;
      }
    }
  }
  &-pc {
    display: none;
    @include mq(m, min) {
      display: block;
    }
  }
}

// hover時の挙動

// 電話番号のリンクはPC時は非表示

.tel-link {
  pointer-events: none;
  @include mq(s) {
    pointer-events: all;
  }
}

// title

// btn
